@*
//------------------------------------------------------------------------------
//  此代码版权声明为全文件覆盖，如有原作者特别声明，会在下方手动补充
//  此代码版权（除特别声明外的代码）归作者本人Diego所有
//  源代码使用协议遵循本仓库的开源协议及附加协议
//  Gitee源代码仓库：https://gitee.com/dotnetchina/ThingsGateway
//  Github源代码仓库：https://github.com/kimdiego2098/ThingsGateway
//  使用文档：https://diego2098.gitee.io/thingsgateway/
//  QQ群：605534569
//------------------------------------------------------------------------------
*@

@namespace ThingsGateway.Web.Rcl.Core
@inherits CultureComponentBase
<div class="@Class" style="@Style">
    <MChip Color="@Color" TextColor="@TextColor" Ripple="false">
        <span class="btn">@Label</span>
    </MChip>
</div>

@code
{
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Style { get; set; } = "";

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public string DisabledLabel { get; set; }

    [Parameter]
    public string EnabledLabel { get; set; }

    public string TextColor => Value ? "green" : "error";

    public string Color => Value ? "green-lighten" : "warning-lighten";

    string Label => Value ? EnabledLabel ?? T("启用") : DisabledLabel ?? T("停用");
}

