@page "/OpcUaMaster"
@using BootstrapBlazor.Components
@using ThingsGateway.Extension
@using ThingsGateway.Foundation
@namespace ThingsGateway.Debug
@using ThingsGateway.Foundation.OpcUa
@using TouchSocket.Core


<div style="height:100%; width:100%;">

    @if (_plc?.OpcUaProperty != null)
    {
        <Card class="mt-2">
            <BodyTemplate>

                <EditorForm Model="_plc.OpcUaProperty" AutoGenerateAllItem=false RowType="RowType.Inline" ItemsPerRow="4" ShowLabelTooltip="true" ShowLabel="true">
                    <FieldItems>

                        <EditorItem @bind-Field=context.OpcUrl />
                        <EditorItem @bind-Field=context.UserName />
                        <EditorItem @bind-Field=context.Password />
                        <EditorItem @bind-Field=context.KeepAliveInterval />
                        <EditorItem @bind-Field=context.GroupSize />
                        <EditorItem @bind-Field=context.UpdateRate />
                        <EditorItem @bind-Field=context.DeadBand />
                        <EditorItem @bind-Field=context.UseSecurity />
                        <EditorItem @bind-Field=context.ActiveSubscribe />
                        <EditorItem @bind-Field=context.CheckDomain />
                        <EditorItem @bind-Field=context.LoadType />

                    </FieldItems>
                    <Buttons>
                        <Button IsAsync Color="Color.Primary" OnClick="Connect">@OpcUaPropertyLocalizer["Connect"]</Button>

                        <Button IsAsync Color="Color.Warning" OnClick="Disconnect">@OpcUaPropertyLocalizer["Disconnect"]</Button>
                    </Buttons>
                </EditorForm>


            </BodyTemplate>
        </Card>

    }

    <AdapterDebugComponent Logger=LogMessage Plc=null LogPath=@LogPath @ref=AdapterDebugComponent ShowDefaultOtherContent=false ShowDefaultReadWriteContent=false>

        <ReadWriteContent>

            <BootstrapInput @bind-Value=@RegisterAddress DisplayText=@OpcUaPropertyLocalizer["RegisterAddress"]
                            ShowLabel="true" style="width:100%" />


            <div class="row mx-1 form-inline mt-2">


                <div class="col-12 col-md-4 p-1">

                    <Button IsAsync Color="Color.Primary" OnClick="Add">@OpcUaPropertyLocalizer["Add"]</Button>

                </div>
                <div class="col-12 col-md-4 p-1">

                    <Button IsAsync Color="Color.Primary" OnClick="Remove">@OpcUaPropertyLocalizer["Remove"]</Button>

                </div>

                <div class="col-12 col-md-4 p-1">

                    <Button IsAsync Color="Color.Primary" OnClick="ReadAsync">@OpcUaPropertyLocalizer["Read"]</Button>

                </div>
            </div>

            <Divider />

            <div class="row mx-1 form-inline mt-2">

                <div class="col-12 col-md-8 p-1">
                    <Textarea @bind-Value=@WriteValue ShowLabelTooltip="true"  DisplayText=@OpcUaPropertyLocalizer["WriteValue"]
                              ShowLabel="true" />

                </div>
                <div class="col-12 col-md-4 p-1">
                    <Button IsAsync Color="Color.Primary" OnClick="WriteAsync">@OpcUaPropertyLocalizer["Write"]</Button>
                </div>
            </div>

            <div class="row mx-1 form-inline mt-2">

                <div class="col-12 col-md-4 p-1">
                    <Checkbox @bind-Value=ShowSubvariable DisplayText=@OpcUaPropertyLocalizer["ShowSubvariable"] ShowLabel="true" />
                </div>

                <div class="col-12 col-md-4 p-1">
                    <Button IsAsync Color="Color.Primary" OnClick="ShowImport">@OpcUaPropertyLocalizer["ShowImport"]</Button>
                </div>
            </div>


        </ReadWriteContent>


    </AdapterDebugComponent>
</div>



