@namespace ThingsGateway.Admin.Razor
<ValidateForm Model="@Model" class="mt-5" OnValidSubmit="OnLogin">
    @if (TenantOption.Value.Enable)
    {
        <BootstrapInputGroup>
            <Select @bind-Value="@Model.TenantId" ShowLabel="false" Items="Items" />
        </BootstrapInputGroup>
    }

    <BootstrapInputGroup class="mt-3">
        <BootstrapInput TValue="string" 
                        @bind-Value="@Model.Account" IsAutoFocus="true" PlaceHolder="@Localizer["Account"]" />
    </BootstrapInputGroup>
    <BootstrapInputGroup class="mt-3">
        <BootstrapPassword  PlaceHolder="@Localizer["Password"]"
                        @bind-Value="@Model.Password" />
    </BootstrapInputGroup>
    <Button ButtonType="@ButtonType.Submit" Class="btn-block mt-3" IsAsync>@Localizer["Login"]</Button>
</ValidateForm>
