@namespace ThingsGateway.Components
@inherits Masa.Blazor.Popup.Components.PopupComponentBase
@inject MasaBlazor MasaBlazor
<PModal Title=@BlazorAppInfoConfigs.Current.Title Value="Visible" Width=800 ValueChanged=@((a=>{if(!a)ClosePopupAsync();}))>
    <MContainer>

        <div>
            <div class="font-weight-black ps-1 mb-2">@I18n.T("docs")</div>
        </div>
        <div class="my-2 ml-4">
            <a target="_blank" href="@BlazorAppInfoConfigs.Current.DocsUri">@BlazorAppInfoConfigs.Current.DocsUri</a>
        </div>

        <div class="my-4">
            <div class="font-weight-black ps-1 mb-2">@I18n.T("community")</div>
            <div class="my-2 ml-4">
                <span>QQ群</span> <a target="_blank" href="@BlazorAppInfoConfigs.Current.QQGroupUri">@BlazorAppInfoConfigs.Current.QQGroupNumber</a>
            </div>
        </div>

        <div class="my-4">
            <div class="font-weight-black ps-1 mb-2">@I18n.T("assistance")</div>
            <div class="my-2 ml-4">
                <MImage Contain Src=@(BlazorAppService.DefaultResourceUrl + @"images/pay.png") MaxWidth="600" />
             </div>
         </div>

     </MContainer>



 </PModal>





